# OS / Editors
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp
*.iml
.project
.pydevproject

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.tox/
.coverage
htmlcov/

# colcon / ROS 2 / Build
build/
install/
log/
logs/
.catkin_tools/
.ament_cmake_python/

# Simulation / Heavy data
*.bag
*.mcap